<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <appSettings>
        <!--
          - OAuth Provider settings. Format for the key is "oauth.{provider}.{property}".
          - The {provider} is the same name that is used by OAuthHandler when
          - when forwarding requests to a IOAuthProvider implementation.
          -->

        <!-- FaceBook
        <add key="oauth.facebook.clientId" value="xxx" />       
        <add key="oauth.facebook.secretKey" value="xxx" />     
        <add key="oauth.facebook.metadata" value="file://App_Data/facebook.metadata.json" />
        <add key="oauth.facebook.scope" value="email" />
        -->

        <!-- Google
        <add key="oauth.google.clientId" value="xxx" />       
        <add key="oauth.google.secretKey" value="xxx" />       
        <add key="oauth.google.metadata" value="https://accounts.google.com/.well-known/openid-configuration" />
        <add key="oauth.google.scope" value="openid email profile" />
        -->

        <!-- Linked In
        <add key="oauth.linkedin.clientId" value="xxx" />       
        <add key="oauth.linkedin.secretKey" value="xxx" />       
        <add key="oauth.linkedin.metadata" value="file://App_Data/linkedin.metadata.json" />
        <add key="oauth.linkedin.scope" value="r_emailaddress r_basicprofile" />
        -->
    </appSettings>

    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <customErrors mode="Off"/>
    </system.web>
    
    <!-- Use the location element to register Handler for only requests that 
      - start with ~/OAuth. Otherwise, any request that has "OAuth/"in the path
      - would be forwarded to the handler
      -->
    <location path="OAuth">
        <system.webServer>
            <handlers>
                <!--
                    URL have the following format: ~/OAuth/{provider}/{action}
                  -->
                <add name="OAuth" path="OAuth/*" verb="*" type="OAuthSample.OAuth.OAuthHandler, OAuthSample" />
            </handlers>
        </system.webServer>        
    </location>
    
</configuration>
